@import "tailwindcss";

@plugin "daisyui" {
  themes: cupcake --default, dracula --prefersdark;
}

@plugin "daisyui/theme" {
  name: "dracula";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(28.822% 0.022 277.508);
  --color-base-200: oklch(26.805% 0.02 277.508);
  --color-base-300: oklch(24.787% 0.019 277.508);
  --color-base-content: oklch(87% 0.01 258.338);
  --color-primary: oklch(87% 0.15 154.449);
  --color-primary-content: oklch(15.092% 0.036 346.812);
  --color-secondary: oklch(83% 0.145 321.434);
  --color-secondary-content: oklch(14.84% 0.029 301.883);
  --color-accent: oklch(81% 0.111 293.571);
  --color-accent-content: oklch(16.678% 0.024 66.558);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(85% 0.138 181.071);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(13.644% 0.041 24.43);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

body {
  font-family: "Gill Sans", sans-serif;
}

.floating-label > span {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
  padding: 0.5rem 0.75rem;
  color: var(--color-accent-content);
  background-color: var(--color-accent);
}